@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    Bogotá, Colombia<br />
    <abbr title="Phone">P:</abbr>
    +57 310 483 32 61
</address>

<address>
    <strong>Support:</strong> <a href="hernan.cote@outlook.com">hernan.cote@outlook.com</a><br />
</address>
