@{
    ViewData["Title"] = "Home Page";
}


<div class="row">
    <h2>Synthentic Financial Manager System For Fraud Transactions</h2>
    <ul>
        <li>Application built using ASP.NET Core MVC</li>
        <li>Built by: Hernán Felipe Cote Martínez</li>
    </ul>
</div>
