@model IEnumerable<Customer>

<h1>All Customers</h1>

@foreach (var customer in Model)
{
    <section class="panel panel-default">
        <h4 class="panel-heading">Name: @customer.Name</h4>
        <div class="panel-body">Balance: $@customer.Balance </div>
        <div class="panel-footer">
            <a class="btn btn-default" asp-action="Detail" asp-route-id="@customer.Id">More</a>
        </div>
    </section>
}
<div>
    <a class="btn btn-primary" asp-action="Create">Create Customer</a>
</div>
